<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/welcome.js" type="module"></script>
    <script src="../static/js/main.js" type="module"></script>
    <script src="../static/js/forum.js" type="module"></script>
    <script src="../static/js/user.js" type="module"></script>
    <title>Forum Layout</title>
</head>
<body>
    <script src="../static/js/register.js" type="module"></script>
    <script src="../static/js/login.js" type="module"></script>
</body>
</html>